<% locals ||= {} %>
<%= content_tag(locals.fetch(:tag, :li)) do %>
  <em><%= album.label_code %></em>:
  <strong><%= album.title %></strong>
  <div class="details">
    Released: <%= album.released_year %>
    <br>
    Format: <%= album.format %>
    <% unless @label %>
      <br>
      Label: <%= link_to album.label.title, label_path(album.label) %>
    <% end %>
  </div>
<% end %>
