<h2>Add an Album!</h2>
<ul>
  <% @album.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<%= form_for @album, html: { multipart: true } do |f| %>
  <fieldset>
    <legend>Album Details</legend>
    <% %w(title label_code released_year).each do |field| %>
      <%= f.label field %>:
      <%= f.text_field field %>
      <br>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Album Associations</legend>
    <%= f.label :artist_id %>
    <%= f.select :artist_id, Artist.available_artists %>

    <br>

    <%= f.label :label_id %>
    <%= f.select :label_id, Label.available_labels %>

    <br>

    <%= f.label :format %>
    <%= f.select :format, Album.available_formats %>

    <br>

    <%= f.label :image, 'Cover Art' %>
    <%= f.file_field :image %>
  </fieldset>

  <%= f.submit %>
<% end %>
